@model ShopCET45.Web.Models.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            

            <partial name="_ProductPartial"/>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"> Create</i></button>
                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"> Back to List</i></a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
      await Html.RenderPartialAsync("_ValidationCurrencyPartial");}
}
